body {
    font-family: "Montserrat", sans-serif;
    color: #111111;
    background-color: #fafafa;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text-orange {
    color: #fd9222;
}

.text-italic {
    font-style: italic;
}
.container {
    max-width: 367px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
.container {
    max-width: 736px;
}
}
    @media screen and (min-width: 1168px) {
        .container {
                max-width: 1168px;
    }
}

/* ============ HEADER STYLES ============ */
.menu-list {
    display: none;
}
.social-list {
    display: none;
}
.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
}

.logo-icon {
    width: 21px;
    height: 21px;
    margin-left: 4px;
}
.header-burger-btn {
    width: 28px;
    height: 28px;
        line-height: 0;
    border: none;
    background: transparent;
    padding: 0;
    stroke: #111111;
}
@media screen and (max-width: 767px) {
    .page-header {
        padding-top: 20px;
        padding-bottom: 14px;
    }

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #1e1823;
    color: #ffffff;
    overflow-y: auto;
    
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .mobile-menu.is-open {
     transform: translateX(0%);
 }
 .mobile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 136px;
    padding-bottom: 20px;
 }
.mobile-close-btn {
    position: absolute;
    top: 28px;
    right: 0;
       line-height: 0;
    background-color: transparent;
    border: none;
    stroke: #fafafa;
    padding: 0;
  

}
.mobile-nav {
margin-bottom: auto;
}

.mobile-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-list-link {
    font-weight: 500;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        transition: color 250ms ease-in-out;
}
.mobile-list-link:hover,
.mobile-list-link:focus {
    color: #fd9222;
}
.mobile-social-list {
    display: flex;
    gap: 18px;
}

.mobile-social-link {
    display: block;
    line-height: 0;
    stroke: #fafafa;
    fill: transparent;
    transition: stroke 250ms ease-in-out;

}

.mobile-social-link:hover,
.mobile-social-link:focus {
    stroke: #fd9222;
}
}

@media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
}
.header-burger-btn {
    display: none;
}
.page-header-container {
    gap: 48px;
}
.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.menu-list {
    display: flex;
    gap: 24px;
}
.menu-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms ease-in-out;
}

.menu-link:hover,
.menu-link:focus {
    color: #fd9222;
}
.social-list {
    display: flex;
    gap: 18px;
}
.social-list-link {
    display: block;
    line-height: 0;
    stroke: #111111;
    fill: none;
    transition: stroke 250ms ease-in-out;
}

.social-list-link:hover,
.social-list-link:focus {
    stroke: #fd9222;
}
}

@media screen and (min-width: 1168px) {
.page-header-container {
        gap: 90px;
    }
    .logo {
        font-size: 18px;
            line-height: 1.11;
    }
        .logo-icon {
            width: 24px;
            height: 24px; 
        }
}

/* ============== HERO STYLES ===================== */

.container-hero {
background-image: linear-gradient(rgba(30, 24, 35, 0.4),rgba(30, 24, 35, 0.4)), url(../images/bg-mobile.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 30px;
    max-width: 375px;
    height: 620px;
    padding: 395px 40px 20px 40px;
    color: #ffffff;
   }
   @media screen and (min-resolution: 192dpi) {
    .container-hero {
        background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg-mobile@2x.jpg);}
   }
.hero-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.03em;
        color: #fff;
        margin-bottom: 32px;
   }
.hero-wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 32px;
   }
.hero-btn {
    border-radius: 100px;
        padding: 12px 28px;
        min-width: 120px;
        height: 41px;
        background-color: #fd9222;
        font-weight: 600;
            font-size: 14px;
            color: #ffffff;
        transition: background-color 250ms ease-in, color 250ms ease-in;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #fcf1e0;
    color: #fd9222;
}
.how-made-link {
    border: 1px solid #fff;
        border-radius: 100px;
        padding: 12px 28px;
        min-width: 159px;
        height: 41px;
        background-color: transparent;
        font-weight: 600;
            font-size: 14px;
            color: #ffffff;
            transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out, color 250ms ease-in-out;
            }
            
.how-made-link:hover,
.how-made-link:focus {
                border-color: #fd9222;
                background-color: #ffffff;
                color: #fd9222;
            
            }
   .scroll-down-link {
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        font-weight: 500;
                font-size: 12px;
            line-height: 1.17;
            letter-spacing: -0.03em;
            color: #ffffff;
            transition: color 250ms ease-in-out,
               }
  .scroll-down-link:hover,
  .scroll-down-link:focus {
    color: #fd9222;
  }
  .scroll-down-icon {
    width: 18px;
    height: 18px;
  }
   .scroll-down-icon-wrapper {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 28px;
       height: 28px;
       background-color: #ffffff;

       border-radius: 50%;
       fill: #fd9222;
       transition: background-color 250ms ease-in-out, fill 250ms ease-in-out;
      
   }

   .scroll-down-link:hover .scroll-down-icon-wrapper {
       background-color: #fd9222;
       fill: #ffffff;
   }

   @media screen and (min-width: 768px) {
   .container-hero {
        background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg-tablet.jpg);
           max-width: 768px;
            height: 890px;
        padding: 671px 72px 40px 72px;
           }
   .hero-title {
       font-weight: 500;
       font-size: 28px;
       line-height: 1.2;
       letter-spacing: -0.03em;
     }

   .hero-wrap {
       display: flex;
    align-items: center;
   }

   .hero-btn {
       border-radius: 100px;
       padding: 14px 40px;
       min-width: 144px;
       height: 45px;
        margin-right: 14px;
          }
    .how-made-link {
            padding: 14px 40px;
            min-width: 183px;
            height: 45px;
            background-color: transparent;
           
        }
    .scroll-down-link {
        gap: 14px;
        font-size: 14px;
        line-height: 1.29;
        margin-left: auto;
          }
             
    .skroll-down-icon {
        width: 22px;
        height: 22px;
                }
        
    .scroll-down-icon-wrapper {
            width: 38px;
            height: 38px;
    }
        }
   @media screen and (min-resolution: 192dpi) {
    .container-hero {
            background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg-tablet@2x.jpg);
   }
}
   @media screen and (min-width: 1168px) {
.container-hero {
        background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg-desktop.jpg);
    max-width: 1168px;
        height: 600px;
        padding: 381px 56px 40px 56px;
    }
        .hero-title {
            width: 484px;
         }
         
   }


@media screen and (min-resolution: 192dpi) {
    .container-hero {
        background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg-desktop@2x.jpg);
        
    }
    }

/* ============ BENEFITS STYLES ============ */
.benefits-page {
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: #1e1823;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
}
.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.benefits-item {
    width: 308px;
}
.benefits-item-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 22px;

}
.benefits-item-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 18px;
}
.benefits-item-text {
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 768px) {
.benefits-page {
margin-top: 40px;
margin-bottom: 40px;
    padding-top: 50px;
        padding-bottom: 50px;
}
.benefits-container {
    padding-right: 44px;
}
.benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 60px;
}
.benefits-item {
        width: calc((100% - 60px) / 2);
}

}
 @media screen and (min-width: 1168px) {
    .benefits-page {
    margin-top: 72px;
    margin-bottom: 50px;
       
        }
    .benefits-container {
        padding: 0 34px;
    }
    .benefits-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 70px;
        }
    .benefits-item { 
        position: relative;                  
        width: calc((100% - 140px) / 3);
    }
    .benefits-item:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -18px;
            background-color: #fafafa;
            height: 50%;
            width: 1px;
            transform: translateY(-50%);
    
        }
 }

/* ============ INGREDIENTS STYLES ============ */
.ingredients-page {
    padding-top: 30px;
    padding-bottom: 30px;
}
.ingredients-title {
    width: 283px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}
.ingredients-text {
    width: 100%;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 32px;
}
.ingredients-list {
    display: flex;
    flex-direction: column;
        gap: 20px;
}
.ingredients-item {
    width: 100%;
    border-radius: 15px;
    padding: 28px 55px 28px 56px;
    border: 1px solid #fd9222;
    position: relative;
    overflow: hidden;
}
.ingredients-list-img {
    width: 224px;
    height: 171px;
    margin-bottom: 25px;
}

.ingredients-list-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;

}
.ingredients-item:nth-child(4n+1) {
    color: #ffffff;
    background-color: #fd9222
}
.ingredients-item:nth-child(even) {
    background-color: #ffffff;
}

.ingredients-item:nth-child(4n-1) {
    background-color: #1e1823;
    color: #ffffff;
    border-color: #1e1823
}
.ingredients-overlay-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    color: #111111;
    padding: 28px;
    border-radius: 15px;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
}

.ingredients-item:hover .ingredients-overlay-wrap {
    transform: translateY(0%);
}

.ingredients-overlay-wrap-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.ingredients-overlay-wrap-list {
    display: flex;
    gap: 6px;
    margin-bottom: 14px;
}

.ingredients-overlay-wrap-item {
    font-size: 10px;
    line-height: 1.2;
    border: 1px solid #fd9222;
    border-radius: 35px;
    padding: 6px 16px;
}

.ingredients-overlayitem-primary {
    background-color: #fd9222;
    color: #ffffff;
}

.ingredients-overlayitem-secondary {
    background-color: #fafafa;
    border: 1px solid #fd9222;
}

.ingredients-overlay-wrap-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
    .ingredients-page {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    
        .ingredients-title {
            width: 411px;
            font-size: 24px;
            line-height: 1.17;
            margin-bottom: 28px;
        }
    
        .ingredients-text {
            width: 486px;
            margin-bottom: 50px;
        }
    
        .ingredients-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px;
        }
    
        .ingredients-item {
            width: calc((100% - 32px) / 2);
            padding: 28px 56px;
              }
 
}

 @media screen and (min-width: 1168px) {
.ingredients-page {
        padding-top: 50px;
        padding-bottom: 50px;
    }
   .ingredients-list {
    gap: 19px;
   }
   .ingredients-item {
       width: calc((100% - 3 * 19px) / 4);
       padding: 28px 36px 28px 28px;
   }
   .ingredients-list-img {
    width: 206px;
    height: 160px;
    margin-bottom: 36px;
}
 }
  

 /* ============ HOW MADE STYLES ============ */

 .how-made-page {
    padding-top: 30px;
    padding-bottom: 30px;
}

.how-made-title {
    font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 32px;
    }
    .how-made-content-wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .how-made-text-wrap {
        /* flex-grow: 1; */
        padding: 20px 14px;
        }
    .how-made-subtitle {
        font-weight: 600;
            font-size: 18px;
            line-height: 1.33;
            margin-bottom: 20px;
    }
    
    .how-made-item {
              font-size: 14px;
            line-height: 1.29;
            letter-spacing: -0.02em;
            position: relative;
            padding-left: 16px;
        }
    
    .how-made-item:not(:last-child) {
    margin-bottom: 18px;
    }
    .how-made-item::before {
        position: absolute;
        content: '';
    top: 5px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #4c4c4c;
    border-radius: 50%;
    border: 1px solid #eceded;;
    }


@media screen and (min-width: 768px) {
    .how-made-page {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .how-made-title {
    font-size: 24px;
line-height: 1.17;
margin-bottom: 50px;
    }
    .how-made-text-wrap {
        /* flex-grow: 1; */
        padding: 32px 130px 32px 93px;
        }
    .how-made-subtitle {
        width: 350px;
            margin-bottom: 28px;
    }
}
    
@media screen and (min-width: 1168px) {
    .how-made-page {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .how-made-content-wrap {
        flex-direction: row;
    }
    .how-made-text-wrap {
        flex-grow: 1;
        padding: 32px;
        }
        .how-made-item:not(:last-child) {
            margin-bottom: 24px;
            }
}

/* ============ REVIEWS STYLES ============ */

.reviews-page {
    padding-bottom: 60px;
    padding-top: 30px;
}
.reviews-title {
    font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
           margin-bottom: 70px;
}
.reviews-list {
    margin-bottom: 60px;
    position: relative;
}
.reviews-list::after {
    content: '';
        position: absolute;
    bottom: -30px;
    right: 127px;
    background-color: #FD9222;
    border-radius: 4px;
    width: 80px;
    height: 13px;
    }
.reviews-item:not(:first-child) {
    display: none;
}
.reviews-item {
    position: relative;
    padding-top: 56px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 42px;
    border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 15px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
        background-color: #ffffff;
}
.reviews-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.reviews-nickname {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        text-align: center;
        margin-bottom: 24px;
    }

.reviews-text {
            font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(17, 17, 17, 0.7);
}

.leave-review-btn {
    display: block;
    border: 1px solid #fd9222;
        border-radius: 100px;
        padding: 12px 28px;
        min-width: 165px;
        height: 41px;
        font-weight: 600;
font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 250ms ease-in-out;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
    background-color: #fd9222;
}
@media screen and (min-width: 768px) {
    .reviews-page {
        padding-bottom: 80px;
        padding-top: 40px;
    }
    .reviews-title {
            font-size: 24px;
            line-height: 1.17;
    }
    .reviews-list {
            display: flex;
            gap: 16px;
        margin-bottom: 60px;
    }
    .reviews-item:not(:first-child) {
        display: block;
    }
    .reviews-item:last-child{
        display: none;
    }
    .reviews-item {
        width: calc((100% - 16px) / 2);
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
    }
    .reviews-list::after {
        right: 312px;
        }
        .leave-review-btn {
                padding: 14px 40px;
                min-width: 222px;
                height: 50px;
        font-size: 18px;
        }
}
@media screen and (min-width: 1168px) {
    .reviews-page {
        padding-bottom: 100px;
        padding-top: 50px;
    }
    .reviews-list {
        gap: 28px;
    margin-bottom: 50px;
}

.reviews-item:last-child{
    display: block;
}
.reviews-list::after {
    display: none;
    }
    .reviews-item {
    width: calc((100% - 56px) / 3);
    padding-left: 24px;
    padding-right: 24px;
}
}

/* ============ FOOTER STYLES ============ */

.footer-page {
    background-color: #1e1823;
    padding-top: 32px;
    padding-bottom: 32px;
color: #ffffff;
}
.footer-container-top {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 32px;
}
.footer-title {
    width: 300px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
}
.contact-block {
    font-style: normal;
}
.contact-block-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: 14px;
}
            
.contact-block-item {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    transition: color 250ms ease-in-out;
}
            
.contact-block-item:first-child {
    margin-bottom: 4px;
}
            
.contact-block-item:hover,
.contact-block-item:focus {
    color: #fd9222;
}
.footer-bottom-block {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

.footer-nav-link {
display: block;
font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    transition: color 250ms ease-in-out;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
color: #fd9222;
}

.footer-form {
display: flex;
gap: 8px;
}
.footer-form-input {
width: 207px;
height: 45px;
border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 14px 18px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
 }
.footer-form-input::placeholder {
     font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3);
}

.footer-form-input:focus {
border-color: #fd9222;
outline: transparent;
}
.footer-form-subscribe-btn {
font-weight: 600;
    font-size: 14px;
    color: #ffffff;
border-radius: 100px;
    padding: 14px 24px;
    min-width: 120px;
    height: 45px;
    background-color: #fd9222;
    transition: background-color 250ms ease-in, color 250ms ease-in;
}
    
 
.footer-form-subscribe-btn:hover,
.footer-form-subscribe-btn:focus {
background-color: #fcf1e0;
    color: #fd9222;
}
@media screen and (min-width: 768px) {
    .footer-page {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-container-top {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    .footer-title {
        font-size: 28px;
        line-height: 1.21;
    }
    .footer-bottom-block {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer-nav-list {
        flex-direction: row;
        gap: 16px;
      }
    .footer-nav-item-dubl {
        display: none;
    }
    .footer-nav-link {
        padding: 24px 0;
    }
    .footer-form-input {
        width: 232px;
        height: 45px;
            padding: 14px 24px;
    }
    .footer-form-subscribe-btn {
            padding: 14px 28px;
            min-width: 128px;
        }    
}
@media screen and (min-width: 1168px) {
    .footer-container-top {
        padding-bottom: 54px;
    }
    .footer-nav-list {
        gap: 24px;
      }
      .footer-form-input {
        width: 313px;
        height: 52px;
            padding: 13px 24px;
    }
    footer-form-input::placeholder {
        font-size: 18px;
   }
   .footer-form-subscribe-btn {
    width: 137px;
    height: 52px;
    padding: 17px 32px;
    min-width: 128px;
} 
}

/* ============ BACKDROP STYLES ============ */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
        width: 311px;
        height: 619px;
        background-color: #fafafa;
        padding: 32px 24px;

}
.modal-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
        line-height: 0;
    padding: 0;
    stroke: #111111;
    background-color: transparent;
    border: none;
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    stroke: #fd9222;
}
.modal-text {
    width: 255px;
    font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #111111;
        margin-bottom: 32px;
}
.modal-form-wrap {
    margin-bottom: 14px;
}
.modal-form-label {
    display: block;
        font-size: 13px;
        letter-spacing: -0.02em;
        color: rgba(64, 64, 64, 0.3);
        margin-bottom: 4px;
}
.modal-form-input {
    width: 100%;
    height: 45px;
    border: 1.50px solid rgba(17, 17, 17, 0.05);
        border-radius: 8px;
        padding: 13px 18px;
        background-color: transparent;
        transition: border-color 250ms ease;
}
.modal-form-input:focus {
    border-color: #fd9222;
    outline: transparent;
 }
 .modal-form-message {
    width: 100%;
    height: 91px;
    resize: none;
    background-color: transparent;
    border: 1.50px solid rgba(17, 17, 17, 0.05);
        border-radius: 8px;
        padding: 14px 18px;
        transition: border-color 250ms ease;
}
.modal-form-massege:focus {
    border-color: #fd9222;
    outline: transparent;
}
.modal-form-message::placeholder {
font-size: 13px;
letter-spacing: -0.02em;
color: rgba(64, 64, 64, 0.3);
}

.modal-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    cursor: pointer;
    fill: transparent;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label .modal-form-own-checkbox {
        background-color: #fd9222;
        border-color: #fd9222;
        fill: #ffffff;
}
.modal-form-checkbox-label {
    display: flex;
    gap: 12px;
    font-size: 12px;
    line-height: 1.33;
letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.6);
    margin-bottom: 32px;

}
.modal-form-btn {
    font-weight: 600;
        font-size: 14px;
        color: #ffffff;
        border-radius: 100px;
            padding: 12px 28px;
            min-width: 93px;
            height: 41px;
            background-color: #fd9222;
            border: none;
            transition: backgroung-color 250ms ease-in-out, color 250ms ease-in-out;
}
.modal-form-btn.hover,
.modal-form-btn:focus {
background-color: #fcf1e0;
color :#fd9222;
}

@media screen and (min-width: 768px) {
    .modal {
            width: 517px;
            height: 794px;
            padding: 40px;
    }
    .modal-close-btn {
        top: 24px;
        right: 24px;
    }
    .modal-text {
        width: 298px;
            font-size: 24px;
            line-height: 1.17;
            margin-bottom: 40px;
    }
    .modal-form-wrap {
        margin-bottom: 18px;
    }
    modal-form-label {
            font-size: 14px;
            margin-bottom: 8px;
    }
    .modal-form-input {
        height: 68px;
            border-radius: 13px;
            padding: 22px 24px;
    }
     .modal-form-message {
        height: 137px;
            border-radius: 13px;
            padding: 22px 24px;
    }
    .modal-form-message::placeholder {
    font-size: 18px;
    }
    
    .modal-form-checkbox-label {
        font-size: 14px;
        margin-bottom: 42px;
    
    }
    .modal-form-btn {
                padding: 14px 40px;
                min-width: 117px;
                height: 45px;
    }
}
@media screen and (min-width: 1168px) {

.modal-form-input {
    border: 1px solid rgba(17, 17, 17, 0.05);
}
 .modal-form-message {
    border: 1px solid rgba(17, 17, 17, 0.05);
}
}