body {
    font-family: "Montserrat", sans-serif;
    color: #111111;
    background-color: #fafafa;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text-orange {
    color: #fd9222;
}

.text-italic {
    font-style: italic;
}
.container {
    max-width: 367px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
.container {
    max-width: 736px;
}
}
    @media screen and (min-width: 1168px) {
        .container {
                max-width: 1168px;
    }
}

/* ============ HEADER STYLES ============ */
.menu-list {
    display: none;
}
.social-list {
    display: none;
}
.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
}

.logo-icon {
    width: 21px;
    height: 21px;
    margin-left: 4px;
}
.header-burger-btn {
    width: 28px;
    height: 28px;
        line-height: 0;
    border: none;
    background: transparent;
    padding: 0;
    stroke: #111111;
}
@media screen and (max-width: 767px) {
    .page-header {
        padding-top: 20px;
        padding-bottom: 14px;
    }

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #1e1823;
    color: #ffffff;
    overflow-y: auto;
    
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .mobile-menu.is-open {
     transform: translateX(0%);
 }
 .mobile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 136px;
    padding-bottom: 20px;
 }
.mobile-close-btn {
    position: absolute;
    top: 28px;
    right: 0;
       line-height: 0;
    background-color: transparent;
    border: none;
    stroke: #fafafa;
    padding: 0;
  

}
.mobile-nav {
margin-bottom: auto;
}

.mobile-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-list-link {
    font-weight: 500;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        transition: color 250ms ease-in-out;
}
.mobile-list-link:hover,
.mobile-list-link:focus {
    color: #fd9222;
}
.mobile-social-list {
    display: flex;
    gap: 18px;
}

.mobile-social-link {
    display: block;
    line-height: 0;
    stroke: #fafafa;
    fill: transparent;
    transition: stroke 250ms ease-in-out;

}

.mobile-social-link:hover,
.mobile-social-link:focus {
    stroke: #fd9222;
}
}

@media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
}
.header-burger-btn {
    display: none;
}
.page-header-container {
    gap: 48px;
}
.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.menu-list {
    display: flex;
    gap: 24px;
}
.menu-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms ease-in-out;
}

.menu-link:hover,
.menu-link:focus {
    color: #fd9222;
}
.social-list {
    display: flex;
    gap: 18px;
}
.social-list-link {
    display: block;
    line-height: 0;
    stroke: #111111;
    fill: none;
    transition: stroke 250ms ease-in-out;
}

.social-list-link:hover,
.social-list-link:focus {
    stroke: #fd9222;
}
}


 {
.page-header-container {
        gap: 90px;
    }
    .logo {
        font-size: 18px;
            line-height: 1.11;
    }
        .logo-icon {
            width: 24px;
            height: 24px; 
        }
}

/* ============== HERO STYLES ===================== */

.container-hero {
background-image: linear-gradient(rgba(30, 24, 35, 0.4),rgba(30, 24, 35, 0.4)), url(../images/bg-mobile.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 30px;
    max-width: 375px;
    height: 620px;
    padding: 395px 40px 20px 40px;
    color: #ffffff;
   }
   @media screen and (min-resolution: 192dpi) {
    .container-hero {
        background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg-mobile@2x.jpg);}
   }
.hero-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.03em;
        color: #fff;
        margin-bottom: 32px;
   }
.hero-wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 32px;
   }
.hero-btn {
    border-radius: 100px;
        padding: 12px 28px;
        min-width: 120px;
        height: 41px;
        background-color: #fd9222;
        font-weight: 600;
            font-size: 14px;
            color: #ffffff;
        transition: background-color 250ms ease-in, color 250ms ease-in;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #fcf1e0;
    color: #fd9222;
}
.how-made-link {
    border: 1px solid #fff;
        border-radius: 100px;
        padding: 12px 28px;
        min-width: 159px;
        height: 41px;
        background-color: transparent;
        font-weight: 600;
            font-size: 14px;
            color: #ffffff;
            transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out, color 250ms ease-in-out;
            }
            
.how-made-link:hover,
.how-made-link:focus {
                border-color: #fd9222;
                background-color: #ffffff;
                color: #fd9222;
            
            }
   .scroll-down-link {
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        font-weight: 500;
                font-size: 12px;
            line-height: 1.17;
            letter-spacing: -0.03em;
            color: #ffffff;
            transition: color 250ms ease-in-out,
               }
  .scroll-down-link:hover,
  .scroll-down-link:focus {
    color: #fd9222;
  }
  .scroll-down-icon {
    width: 18px;
    height: 18px;
  }
   .scroll-down-icon-wrapper {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 28px;
       height: 28px;
       background-color: #ffffff;

       border-radius: 50%;
       fill: #fd9222;
       transition: background-color 250ms ease-in-out, fill 250ms ease-in-out;
      
   }

   .scroll-down-link:hover .scroll-down-icon-wrapper {
       background-color: #fd9222;
       fill: #ffffff;
   }

   @media screen and (min-width: 768px) {
   .container-hero {
        background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg-tablet.jpg);
           max-width: 768px;
            height: 890px;
        padding: 671px 72px 40px 72px;
           }
   .hero-title {
       font-weight: 500;
       font-size: 28px;
       line-height: 1.2;
       letter-spacing: -0.03em;
     }

   .hero-wrap {
       display: flex;
    align-items: center;
   }

   .hero-btn {
       border-radius: 100px;
       padding: 14px 40px;
       min-width: 144px;
       height: 45px;
        margin-right: 14px;
          }
    .how-made-link {
            padding: 14px 40px;
            min-width: 183px;
            height: 45px;
            background-color: transparent;
           
        }
    .scroll-down-link {
        gap: 14px;
        font-size: 14px;
        line-height: 1.29;
        margin-left: auto;
          }
             
    .skroll-down-icon {
        width: 22px;
        height: 22px;
                }
        
    .scroll-down-icon-wrapper {
            width: 38px;
            height: 38px;
    }
        }
   @media screen and (min-resolution: 192dpi) {
    .container-hero {
            background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg-tablet@2x.jpg);
   }
}
   @media screen and (min-width: 1168px) {
.container-hero {
        background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg-desktop.jpg);
    max-width: 1168px;
        height: 600px;
        padding: 381px 56px 40px 56px;
    }
        .hero-title {
            width: 484px;
         }
         
   }


@media screen and (min-resolution: 192dpi) {
    .container-hero {
        background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/bg-desktop@2x.jpg);
        
    }
    }

/* ============ BENEFITS STYLES ============ */
.benefits-page {
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: #1e1823;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
}
.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.benefits-item {
    width: 308px;
}
.benefits-item-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 22px;

}
.benefits-item-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 18px;
}
.benefits-item-text {
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 768px) {
.benefits-page {
margin-top: 40px;
margin-bottom: 40px;
    padding-top: 50px;
        padding-bottom: 50px;
}
.benefits-container {
    padding-right: 44px;
}
.benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 60px;
}
.benefits-item {
        width: calc((100% - 60px) / 2);
}

}
 @media screen and (min-width: 1168px) {
    .benefits-page {
    margin-top: 72px;
    margin-bottom: 50px;
       
        }
    .benefits-container {
        padding: 0 34px;
    }
    .benefits-list {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 70px;
        }
    .benefits-item { 
        position: relative;                  
        width: calc((100% - 140px) / 3);
    }
    .benefits-item:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -18px;
            background-color: #fafafa;
            height: 50%;
            width: 1px;
            transform: translateY(-50%);
    
        }
 }

/* ============ INGREDIENTS STYLES ============ */
.ingredients-page {
    padding-top: 30px;
    padding-bottom: 30px;
}
.ingredients-title {
    width: 283px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}
.ingredients-text {
    width: 100%;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 32px;
}
.ingredients-list {
    display: flex;
    flex-direction: column;
        gap: 20px;
}
.ingredients-item {
    width: 100%;
    border-radius: 15px;
    padding: 28px 55px 28px 56px;
    border: 1px solid #fd9222;
    position: relative;
    overflow: hidden;
}
.ingredients-list-img {
    margin-bottom: 25px;
}

.ingredients-list-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;

}
.ingredients-item:nth-child(4n+1) {
    color: #ffffff;
    background-color: #fd9222
}
.ingredients-item:nth-child(even) {
    background-color: #ffffff;
}

.ingredients-item:nth-child(4n-1) {
    background-color: #1e1823;
    color: #ffffff;
    border-color: #1e1823
}
.ingredients-overlay-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    color: #111111;
    padding: 28px;
    border-radius: 15px;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
}

.ingredients-item:hover .ingredients-overlay-wrap {
    transform: translateY(0%);
}

.ingredients-overlay-wrap-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.ingredients-overlay-wrap-list {
    display: flex;
    gap: 6px;
    margin-bottom: 14px;
}

.ingredients-overlay-wrap-item {
    font-size: 10px;
    line-height: 1.2;
    border: 1px solid #fd9222;
    border-radius: 35px;
    padding: 6px 16px;
}

.ingredients-overlayitem-primary {
    background-color: #fd9222;
    color: #ffffff;
}

.ingredients-overlayitem-secondary {
    background-color: #fafafa;
    border: 1px solid #fd9222;
}

.ingredients-overlay-wrap-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
    .ingredients-page {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    
        .ingredients-title {
            width: 411px;
            font-size: 24px;
            line-height: 1.17;
            margin-bottom: 28px;
        }
    
        .ingredients-text {
            width: 486px;
            margin-bottom: 50px;
        }
    
        .ingredients-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px;
        }
    
        .ingredients-item {
            width: calc((100% - 32px) / 2);
            padding: 28px 56px;
              }
 
}

 @media screen and (min-width: 1168px) {
.ingredients-page {
        padding-top: 50px;
        padding-bottom: 50px;
    }
   .ingredients-list {
    gap: 19px;
   }
   .ingredients-item {
       width: calc((100% - 3 * 19px) / 4);
       padding: 28px 36px 28px 28px;
   }
   .ingredients-list-img {
    margin-bottom: 36px;
}
 }
  

 /* ============ HOW MADE STYLES ============ */



 
@media screen and (min-width: 768px) {}
    
        @media screen and (min-width: 1168px) {}