body {
    font-family: "Montserrat", sans-serif;
    color: #111111;
    background-color: #fafafa;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.container {
    width: 1168px;
    padding: 0 16px;
    margin: 0 auto;
}

.text-orange {
color: #fd9222;
}
.text-italic {
    font-style: italic;
}

/* ============ HEADER STYLES ============ */


.page-header-container {
    display: flex;
    align-items: center;
    gap: 90px;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.logo {
    display: flex;
    align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.03em;
       }
.logo-icon {
    margin-left: 4px;
}
.menu-list {
    display: flex;
    gap: 24px;
}

.menu-link {
    display: block;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
    padding-top: 30px;
    padding-bottom: 34px;
    transition: color 250ms ease-in-out
}

.menu-link:hover,
.menu-link:focus {
    color: #fd9222;
}

.social-list {
    display: flex;
    gap: 18px;
}


.social-list-link {
    display: block;
    line-height: 0;
    stroke: #111111;
    fill: none;
transition: stroke 250ms ease-in-out;
}

.social-list-link:hover,
.social-list-link:focus {
stroke: #fd9222;
}
 

/* ============ HERO STYLES ============ */

.hero-section {

    background-image: linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1e1823;
    border-radius: 30px;
        max-width: 1200px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
}     


.container-hero {
    padding-top: 381px;
        padding-bottom: 40px;
        padding-left: 56px;
        padding-right: 56px;
}

.hero-title {
    width: 484px;
    font-weight: 500;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: -0.03em;
        color: #ffffff;
        margin-bottom: 32px;
}

.hero-wrap {
display: flex;
align-items: center;
}

.hero-btn {
    border-radius: 100px;
        padding: 14px 40px;
        min-width: 144px;
        background-color: #fd9222;
        font-weight: 600;
            font-size: 14px;
            color: #ffffff;
            padding: 14px 40px;
            margin-right: 14px;
    }

        .hero-btn:hover,
        .hero-btn:focus {
        background-color: #fcf1e0;
        color: #fd9222;
        }

.how-made-link {
    border: 1px solid #ffffff;
        border-radius: 100px;
        padding: 14px 40px;
        min-width: 183px;
        font-weight: 600;
            font-size: 14px;
            color: #ffffff;
            padding: 14px 40px;
            transition: background-color 250ms linear, fill 250ms linear;
            }
.how-made-link:hover,
.how-made-link:focus {
border-color: #fd9222;
background-color: #ffffff;
color: #fd9222;

}

.scroll-down-link {
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.03em;
        color: #ffffff;
        margin-left: auto;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-down-link:hover,
.scroll-down-link:focus {
color: #fd9222;
}

.scroll-down-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
        height: 38px;
    background-color: #ffffff;
    
        border-radius: 50%;
    fill: #fd9222;
    transition: background-color 250ms linear, fill 250ms linear;
    }
.scroll-down-link:hover .scroll-down-icon-wrapper {
    background-color: #fd9222;
    fill: #ffffff;
}


/* ============ BENEFITS STYLES ============ */

.benefits-page {
    margin-top: 72px;
    margin-bottom: 50px;
    background-color: #1e1823;
    padding-top: 50px;
        padding-bottom: 50px;
        color: #ffffff;
}

.benefits-container {
    padding: 0 34px;
}

.benefits-list {
    display: flex;
    gap: 70px;
}

.benefits-item {
    position: relative;
    width: calc((100% - 140px) / 3);
}

.benefits-item:not(:last-child)::after {
content: '';
    position: absolute;
top: 50%;
right: -18px;
background-color: #fafafa;
height: 50%;
width: 1px;
transform: translateY(-50%);

}

.benefits-item-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
        height: 62px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin-bottom: 22px;

}
.benefits-item-title {
    font-weight: 600;
        font-size: 18px;
       
        margin-bottom: 18px;
}

.benefits-item-text {
         font-size: 14px;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.7);
}

/* ============ INGREDIENTS STYLES ============ */

.ingredients-page {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ingredients-title {
    width: 411px;
    font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 28px;
      }

.ingredients-text {
    width: 486px;
          font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        text-align: center;
        margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
}

.ingredients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
}

.ingredients-item {
    width: calc((100% - 3 * 19px) / 4);
    border-radius: 15px;
    padding: 28px 32px;
border: 1px solid #fd9222;
position: relative;
overflow: hidden;
}

.ingredients-list-img {
    margin-bottom: 36px;

}
.ingredients-list-text {
    font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        
}
.ingredients-item:nth-child(4n+1) {
    color: #ffffff;
        background-color: #fd9222
}
.ingredients-item:nth-child(even) {
    background-color: #ffffff;
}
.ingredients-item:nth-child(4n-1) {
    background-color: #1e1823;
    color: #ffffff;
    border-color: #1e1823
}

.ingredients-overlay-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    color: #111111;
    padding: 20px;
    border-radius: 15px;
       transform: translateY(100%);
    transition: transform 250ms ease-in-out;
}
.ingredients-item:hover .ingredients-overlay-wrap {
    transform: translateY(0%);
}
.ingredients-overlay-wrap-title {
    font-weight: 600;
        font-size: 18px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 8px;
   }
   .ingredients-overlay-wrap-list {
    display: flex;
    gap: 6px;
       
        margin-bottom: 14px;
    }
.ingredients-overlay-wrap-item {
         font-size: 10px;
        line-height: 1.2;
border: 1px solid #fd9222;
       border-radius: 35px;
        padding: 6px 16px;
}
.ingredients-overlayitem-primary{
background-color: #fd9222;
color: #ffffff;
}
.ingredients-overlayitem-secondary {
background-color: #fafafa;
border: 1px solid #fd9222;
}
.ingredients-overlay-wrap-text {
        line-height: 1.29;
        letter-spacing: -0.02em;
}

/* ============ HOW MADE STYLES ============ */

.how-made-page {
    padding-top: 50px;
    padding-bottom: 50px;
}

.how-made-title {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
    }

.how-made-content-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
}

.how-made-text-wrap {
flex-grow: 1;
padding: 32px;
}

.how-made-subtitle {
    width: 350px;
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        margin-bottom: 28px;
}

.how-made-list {
  
        padding-right: 27px;
}

.how-made-item {
          font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        position: relative;
        padding-left: 16px;
    }

.how-made-item:not(:last-child) {
margin-bottom: 24px;
}
.how-made-item::before {
    position: absolute;
    content: '';
top: 5px;
left: 0;
width: 8px;
height: 8px;
background-color: #4c4c4c;
border-radius: 50%;
border: 1px solid #eceded;;
}

/* ============ REVIEWS STYLES ============ */

.reviews-page {
    padding-bottom: 100px;
    padding-top: 50px;
}

.reviews-title {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
           margin-bottom: 50px;
}

.reviews-list {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
}

.reviews-item {
    position: relative;
    width: calc((100% - 56px) / 3);
    padding-top: 56px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 15px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
        background-color: #ffffff;
}

.reviews-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
   

}

.reviews-nickname {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        text-align: center;
        margin-bottom: 24px;
    }

.reviews-text {
            font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(17, 17, 17, 0.7);
}

.leave-review-btn {
    display: block;
    border: 1px solid #fd9222;
        border-radius: 100px;
        padding: 14px 40px;
        min-width: 222px;
        height: 50px;
        font-weight: 600;
font-size: 18px;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 250ms ease-in-out;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
    background-color: #fd9222;
}

/* ============ FOOTER STYLES ============ */

.footer-page {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 86px;
color: #ffffff;
}

.footer-container-top {
display: flex;
justify-content: space-between;
padding-bottom: 50px;
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-title {
    width: 300px;
    font-weight: 500;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: -0.02em;
    }

.contact-block {
font-style: normal;
}

.contact-block-text {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        margin-bottom: 14px;
}

.contact-block-item {
           font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        transition: color 250ms ease-in-out;
}

.contact-block-item:first-child {
    margin-bottom: 4px;
}

.contact-block-item:hover,
.contact-block-item:focus {
    color: #fd9222;
}



.footer-nav-list {
        display: flex;
        gap: 24px;
}

.footer-nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        transition: color 250ms ease-in-out;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
color: #fd9222;
}
